{{ log model }}
<h1>Contacts</h1>
{{outlet}}
{{#each model as |contact|}}
{{#link-to 'contact' contact.id}}
<h4>{{contact.firstName}} {{contact.lastName}}</h4>
{{/link-to}}
<h5>{{contact.email}}</h5>
{{/each}}